[Desktop Entry]
Version=1.0
Type=Application
Name=Gleec DEX
Exec=./GleecDEX
Icon=./GleecDEX.png
Categories=Office;Finance;
Terminal=false
StartupNotify=true
