wallet\sdk\packages\komodo_defi_framework\linux/bin...
936
[        ]              INFO: 2026-01-16 05:29:45.077047: =====================
937
[        ]              INFO: 2026-01-16 05:29:45.077047: FetchDefiApiStep: Build step completed in 27308ms
938
[        ]              INFO: 2026-01-16 05:29:45.405417: FetchCoinAssetsBuildStep: Running build step
939
[        ]              INFO: 2026-01-16 05:29:45.561918: Updating commit hash in build config
940
[        ]              SEVERE: 2026-01-16 05:30:08.170324: FetchCoinAssetsBuildStep: Error running build step FetchCoinAssetsBuildStep:         
941
[        ]                      =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
942
[        ]                      BUILD FAILED
943
[        ]                      What: Coin assets were updated.
944
[        ]                      How to fix: Re-run the build process for the changes to take effect.
945
[        ]                      Why: This is due to a limitation in Flutter's build system. We're
946
[        ]                      working on a fix to Flutter, but it will depend on Flutter team
947
[        ]                      considering the PR.
948
[        ]                      How to avoid: If you absolutely need to avoid this double build, you
949
[        ]                      can manually run `flutter clean && flutter build bundle` but this is
950
[        ]                      not recommended since the double build will be fixed in the future.
951
[        ]                      For more details, follow the GLEECBTC Flutter fork:
952
[        ]                      https://github.com/GLEECBTC/flutter
953
[        ]                      =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
954
[        ]                      =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
955
[        ]                      BUILD FAILED
956
[        ]                      What: Coin assets were updated.
957
[        ]                      How to fix: Re-run the build process for the changes to take effect.
958
[        ]                      Why: This is due to a limitation in Flutter's build system. We're
959
[        ]                      working on a fix to Flutter, but it will depend on Flutter team
960
[        ]                      considering the PR.
961
[        ]                      How to avoid: If you absolutely need to avoid this double build, you
962
[        ]                      can manually run `flutter clean && flutter build bundle` but this is
963
[        ]                      not recommended since the double build will be fixed in the future.
964
[        ]                      For more details, follow the GLEECBTC Flutter fork:
965
[        ]                      https://github.com/GLEECBTC/flutter
966
[        ]                      =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
967
[        ]              #0      Logger.log (package:logging/src/logger.dart:227:33)
968
[        ]              #1      Logger.severe (package:logging/src/logger.dart:296:7)
969
[        ]              #2      _runStep (file:///D:/a/gleec-wallet/gleec-wallet/sdk/packages/komodo_wallet_build_transformer/bin/komodo_wallet_build_transformer.dart:245:9)
970
[        ]              <asynchronous suspension>
971
[        ]              #3      main (file:///D:/a/gleec-wallet/gleec-wallet/sdk/packages/komodo_wallet_build_transformer/bin/komodo_wallet_build_transformer.dart:195:9)
972
[        ]              <asynchronous suspension>
973
[        ]              #0      throwToolExit (package:flutter_tools/src/base/common.dart:34:3)
974
[        ]              #1      copyAssets.<anonymous closure> (package:flutter_tools/src/build_system/targets/assets.dart:144:19)
975
[        ]              <asynchronous suspension>
976
[        ]              #2      Future.wait.<anonymous closure> (dart:async/future.dart:546:21)
977
[        ]              <asynchronous suspension>
978
[        ]              #3      copyAssets (package:flutter_tools/src/build_system/targets/assets.dart:111:3)
979
[        ]              <asynchronous suspension>
980
[        ]              #4      BundleWindowsAssets.build (package:flutter_tools/src/build_system/targets/windows.dart:147:29)
981
[        ]              <asynchronous suspension>
982
[        ]   [   +8 ms] "flutter assemble" took 116,296ms.
983
[        ]   [  +19 ms] Running 2 shutdown hooks
984
[        ]   [   +1 ms] Shutdown hooks complete
985
[        ]   [        ] exiting with code 1
986
[        ]              #5      _BuildInstance._invokeInternal (package:flutter_tools/src/build_system/build_system.dart:895:9)
987
[        ]              <asynchronous suspension>
988
[        ]              #6      FlutterBuildSystem.build (package:flutter_tools/src/build_system/build_system.dart:653:16)
989
[        ]              <asynchronous suspension>
990
[        ]              #7      AssembleCommand.runCommand (package:flutter_tools/src/commands/assemble.dart:361:32)
991
[        ]              <asynchronous suspension>
992
[        ]              #8      FlutterCommand.run.<anonymous closure> (package:flutter_tools/src/runner/flutter_command.dart:1559:27)
993
[        ]              <asynchronous suspension>
994
[        ]              #9      AppContext.run.<anonymous closure> (package:flutter_tools/src/base/context.dart:154:19)
995
[        ]              <asynchronous suspension>
996
[        ]              #10     CommandRunner.runCommand (package:args/command_runner.dart:212:13)
997
[        ]              <asynchronous suspension>
998
[        ]              #11     FlutterCommandRunner.runCommand.<anonymous closure> (package:flutter_tools/src/runner/flutter_command_runner.dart:487:9)
999
[        ]              <asynchronous suspension>
1000
[        ]              #12     AppContext.run.<anonymous closure> (package:flutter_tools/src/base/context.dart:154:19)
1001
[        ]              <asynchronous suspension>
1002
[        ]              #13     FlutterCommandRunner.runCommand (package:flutter_tools/src/runner/flutter_command_runner.dart:422:5)
1003
[        ]              <asynchronous suspension>
1004
[        ]              #14     run.<anonymous closure>.<anonymous closure> (package:flutter_tools/runner.dart:104:11)
1005
[        ]              <asynchronous suspension>
1006
[        ]              #15     AppContext.run.<anonymous closure> (package:flutter_tools/src/base/context.dart:154:19)
1007
[        ]              <asynchronous suspension>
1008
[        ]              #16     main (package:flutter_tools/executable.dart:103:3)
1009
[        ]              <asynchronous suspension>
1010
[        ]   [   +7 ms] 
1011
[        ]              #0      throwToolExit (package:flutter_tools/src/base/common.dart:34:3)
1012
[        ]              #1      AssembleCommand.runCommand (package:flutter_tools/src/commands/assemble.dart:379:7)
1013
[        ]              <asynchronous suspension>
1014
[        ]              #2      FlutterCommand.run.<anonymous closure> (package:flutter_tools/src/runner/flutter_command.dart:1559:27)
1015
[        ]              <asynchronous suspension>
1016
[        ]              #3      AppContext.run.<anonymous closure> (package:flutter_tools/src/base/context.dart:154:19)
1017
[        ]              <asynchronous suspension>
1018
[        ]              #4      CommandRunner.runCommand (package:args/command_runner.dart:212:13)
1019
[        ]              <asynchronous suspension>
1020
[        ]              #5      FlutterCommandRunner.runCommand.<anonymous closure> (package:flutter_tools/src/runner/flutter_command_runner.dart:487:9)
1021
[        ]              <asynchronous suspension>
1022
[        ]              #6      AppContext.run.<anonymous closure> (package:flutter_tools/src/base/context.dart:154:19)
1023
[        ]              <asynchronous suspension>
1024
[        ]              #7      FlutterCommandRunner.runCommand (package:flutter_tools/src/runner/flutter_command_runner.dart:422:5)
1025
[        ]              <asynchronous suspension>
1026
[        ]              #8      run.<anonymous closure>.<anonymous closure> (package:flutter_tools/runner.dart:104:11)
1027
[        ]              <asynchronous suspension>
1028
[        ]              #9      AppContext.run.<anonymous closure> (package:flutter_tools/src/base/context.dart:154:19)
1029
[        ]              <asynchronous suspension>
1030
[        ]              #10     main (package:flutter_tools/executable.dart:103:3)
1031
[        ]              <asynchronous suspension>
1032
[  +37 ms] C:\Program Files\Microsoft Visual Studio\2022\Enterprise\MSBuild\Microsoft\VC\v170\Microsoft.CppCommon.targets(254,5): error MSB8066: Custom build for 'D:\a\gleec-wallet\gleec-wallet\build\windows\x64\CMakeFiles\698a01a9d3135e39fafbdeddc1785844\flutter_windows.dll.rule;D:\a\gleec-wallet\gleec-wallet\build\windows\x64\CMakeFiles\0e85c99fa5b3326987f5ef71c967ab12\flutter_assemble.rule;D:\a\gleec-wallet\gleec-wallet\windows\flutter\CMakeLists.txt' exited with code 1. [D:\a\gleec-wallet\gleec-wallet\build\windows\x64\flutter\flutter_assemble.vcxproj]
1033
[  +29 ms] Done Building Project "D:\a\gleec-wallet\gleec-wallet\build\windows\x64\flutter\flutter_assemble.vcxproj" (default targets) -- FAILED.
1034
[   +2 ms] Done Building Project "D:\a\gleec-wallet\gleec-wallet\build\windows\x64\plugins\firebase_core\firebase_core_plugin.vcxproj" (default targets) -- FAILED.
1035
[ +151 ms] Project "D:\a\gleec-wallet\gleec-wallet\build\windows\x64\ALL_BUILD.vcxproj" (3) is building "D:\a\gleec-wallet\gleec-wallet\build\windows\x64\plugins\komodo_defi_framework\shared\komodo_defi_framework.vcxproj" (13) on node 1 (default targets).
1036
[        ] PrepareForBuild:
1037
[        ]   Creating directory "komodo_defi_framework.dir\Release\".
1038
[   +1 ms]   Structured output is enabled. The formatting of compiler diagnostics will reflect the error hierarchy. See https://aka.ms/cpp/structured-output for more details.
1039
[        ]   Creating directory "D:\a\gleec-wallet\gleec-wallet\build\windows\x64\plugins\komodo_defi_framework\shared\Release\".
1040
[        ]   Creating directory "komodo_defi_framework.dir\Release\komodo_d.5346CEEB.tlog\".
1041
[   +1 ms] InitializeBuildStatus:
1042
[        ]   Creating "komodo_defi_framework.dir\Release\komodo_d.5346CEEB.tlog\unsuccessfulbuild" because "AlwaysCreate" was specified.
1043
[        ]   Touching "komodo_defi_framework.dir\Release\komodo_d.5346CEEB.tlog\unsuccessfulbuild".
1044
[  +27 ms] CustomBuild:
1045
[        ]   Building Custom Rule D:/a/gleec-wallet/gleec-wallet/windows/flutter/ephemeral/.plugin_symlinks/komodo_defi_framework/src/CMakeLists.txt
1046
[  +77 ms] ClCompile:
1047
[        ]   C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Tools\MSVC\14.44.35207\bin\HostX64\x64\CL.exe /c /nologo /W3 /WX- /diagnostics:column /O2 /Ob2 /D _WINDLL /D _UNICODE /D UNICODE /D WIN32 /D _WINDOWS /D NDEBUG /D DART_SHARED_LIB /D UNICODE /D _UNICODE /D "CMAKE_INTDIR=\"Release\"" /D komodo_defi_framework_EXPORTS /MD /GS /fp:precise /Zc:wchar_t /Zc:forScope /Zc:inline /Fo"komodo_defi_framework.dir\Release\\" /Fd"komodo_defi_framework.dir\Release\vc143.pdb" /external:W3 /Gd /TC /errorReport:queue "D:\a\gleec-wallet\gleec-wallet\windows\flutter\ephemeral\.plugin_symlinks\komodo_defi_framework\src\komodo_defi_framework.c"
1048
[  +39 ms]   komodo_defi_framework.c
1049
[ +354 ms] Link:
1050
[        ]   C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Tools\MSVC\14.44.35207\bin\HostX64\x64\link.exe /ERRORREPORT:QUEUE /OUT:"D:\a\gleec-wallet\gleec-wallet\build\windows\x64\plugins\komodo_defi_framework\shared\Release\komodo_defi_framework.dll" /INCREMENTAL:NO /NOLOGO kernel32.lib user32.lib gdi32.lib winspool.lib shell32.lib ole32.lib oleaut32.lib uuid.lib comdlg32.lib advapi32.lib /MANIFEST /MANIFESTUAC:"level='asInvoker' uiAccess='false'" /manifest:embed /PDB:"D:/a/gleec-wallet/gleec-wallet/build/windows/x64/plugins/komodo_defi_framework/shared/Release/komodo_defi_framework.pdb" /SUBSYSTEM:CONSOLE /TLBID:1 /DYNAMICBASE /NXCOMPAT /IMPLIB:"D:/a/gleec-wallet/gleec-wallet/build/windows/x64/plugins/komodo_defi_framework/shared/Release/komodo_defi_framework.lib" /MACHINE:X64  /machine:x64 /DLL komodo_defi_framework.dir\Release\komodo_defi_framework.obj
1051
[ +304 ms]   komodo_defi_framework.vcxproj -> D:\a\gleec-wallet\gleec-wallet\build\windows\x64\plugins\komodo_defi_framework\shared\Release\komodo_defi_framework.dll
1052
[   +9 ms] FinalizeBuildStatus:
1053
[        ]   Deleting file "komodo_defi_framework.dir\Release\komodo_d.5346CEEB.tlog\unsuccessfulbuild".
1054
[        ]   Touching "komodo_defi_framework.dir\Release\komodo_d.5346CEEB.tlog\komodo_defi_framework.lastbuildstate".
1055
[        ] Done Building Project "D:\a\gleec-wallet\gleec-wallet\build\windows\x64\plugins\komodo_defi_framework\shared\komodo_defi_framework.vcxproj" (default targets).
1056
[ +103 ms] Done Building Project "D:\a\gleec-wallet\gleec-wallet\build\windows\x64\ALL_BUILD.vcxproj" (default targets) -- FAILED.
1057
[        ] Done Building Project "D:\a\gleec-wallet\gleec-wallet\build\windows\x64\INSTALL.vcxproj" (default targets) -- FAILED.
1058
[   +7 ms] Build FAILED.
1059
[   +2 ms] "D:\a\gleec-wallet\gleec-wallet\build\windows\x64\INSTALL.vcxproj" (default target) (1) ->
1060
[        ] "D:\a\gleec-wallet\gleec-wallet\build\windows\x64\ALL_BUILD.vcxproj" (default target) (3) ->
1061
[        ] "D:\a\gleec-wallet\gleec-wallet\build\windows\x64\plugins\firebase_core\firebase_core_plugin.vcxproj" (default target) (5) ->
1062
[        ] "D:\a\gleec-wallet\gleec-wallet\build\windows\x64\flutter\flutter_assemble.vcxproj" (default target) (6) ->
1063
[        ] (CustomBuild target) -> 
1064
[        ]   [  +44 ms] Target release_bundle_windows-x64_assets failed : error : User-defined transformation of asset "packages/komodo_defi_framework/assets/transformer_invoker.txt" failed. [D:\a\gleec-wallet\gleec-wallet\build\windows\x64\flutter\flutter_assemble.vcxproj]
1065
[        ]   C:\Program Files\Microsoft Visual Studio\2022\Enterprise\MSBuild\Microsoft\VC\v170\Microsoft.CppCommon.targets(254,5): error MSB8066: Custom build for 'D:\a\gleec-wallet\gleec-wallet\build\windows\x64\CMakeFiles\698a01a9d3135e39fafbdeddc1785844\flutter_windows.dll.rule;D:\a\gleec-wallet\gleec-wallet\build\windows\x64\CMakeFiles\0e85c99fa5b3326987f5ef71c967ab12\flutter_assemble.rule;D:\a\gleec-wallet\gleec-wallet\windows\flutter\CMakeLists.txt' exited with code 1. [D:\a\gleec-wallet\gleec-wallet\build\windows\x64\flutter\flutter_assemble.vcxproj]
1066
[        ]     0 Warning(s)
1067
[        ]     2 Error(s)
1068
[        ] Time Elapsed 00:02:06.05
1069
[  +32 ms] Building Windows application... (completed in 172.6s)
1070
[        ] "flutter windows" took 174,053ms.
1071
[   +9 ms] Build process failed.
1072
[        ] 
1073
           #0      throwToolExit (package:flutter_tools/src/base/common.dart:34:3)
1074
           #1      _runBuild (package:flutter_tools/src/windows/build_windows.dart:262:5)
1075
           <asynchronous suspension>
1076
           #2      buildWindows (package:flutter_tools/src/windows/build_windows.dart:118:5)
1077
           <asynchronous suspension>
1078
           #3      BuildWindowsCommand.runCommand (package:flutter_tools/src/commands/build_windows.dart:72:5)
1079
           <asynchronous suspension>
1080
           #4      FlutterCommand.run.<anonymous closure> (package:flutter_tools/src/runner/flutter_command.dart:1559:27)
1081
           <asynchronous suspension>
1082
           #5      AppContext.run.<anonymous closure> (package:flutter_tools/src/base/context.dart:154:19)
1083
           <asynchronous suspension>
1084
           #6      CommandRunner.runCommand (package:args/command_runner.dart:212:13)
1085
           <asynchronous suspension>
1086
           #7      FlutterCommandRunner.runCommand.<anonymous closure> (package:flutter_tools/src/runner/flutter_command_runner.dart:487:9)
1087
           <asynchronous suspension>
1088
           #8      AppContext.run.<anonymous closure> (package:flutter_tools/src/base/context.dart:154:19)
1089
           <asynchronous suspension>
1090
           #9      FlutterCommandRunner.runCommand (package:flutter_tools/src/runner/flutter_command_runner.dart:422:5)
1091
           <asynchronous suspension>
1092
           #10     run.<anonymous closure>.<anonymous closure> (package:flutter_tools/runner.dart:104:11)
1093
           <asynchronous suspension>
1094
           #11     AppContext.run.<anonymous closure> (package:flutter_tools/src/base/context.dart:154:19)
1095
           <asynchronous suspension>
1096
           #12     main (package:flutter_tools/executable.dart:103:3)
1097
           <asynchronous suspension>
1098
[        ] Running 1 shutdown hook
1099
[        ] Shutdown hooks complete
1100
[        ] exiting with code 1
1103
Error: Process completed with exit code 1.
Prepare release bundle
